@media screen and (max-width: 575px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

// ______header______

    .nav_list {
        gap: 25px;
        padding: 25px 40px;
        & a {
            font-size: 15px;
        }
    }

// ______first screen______

    .first_screen_page {
        background: url('assets/img/bg_top_mob.png') center top/cover no-repeat;
    }

    .first_screen_content {
        & p {
            font-size: 12px;
            line-height: 19px;
        }
        & p:first-of-type {
            max-width: 325px;
            margin-bottom: 15px;
        }
        & p:first-of-type:before {
            top: -18px;
        }
        & p:last-of-type {
            margin-bottom: 24px;
        }
    }

    .first_screen_title {
        font-size: 30px;
        max-width: 380px;
        margin-top: 92px;
        line-height: 39px;
        margin-bottom: 27px;
        &:before {
            margin: -4px 0px 0px -17px;
        }
        & span {
            width: 26px;
            height: 33px;
        }
        & span:before {
            left: -4px;
        }
    }

    .first_screen_btn_container {
        & .btn {
            padding: 17px 22px 17px 23px;
            font-size: 13px;
        }
    }

    .first_screen_img {
        left: -40px;
        max-width: 267px;
    }

}