@media screen and (max-width: 575px) {
// ______global______
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .template_title {
        font-size: 30px;
        &.template_title_double {
            &:before {
                margin: 1px 0px 0px -10px;
            }
            &:after {
                margin: 30px 0px 0px -8px;
            }
        }
    }
    

// ______header______

    .nav_list {
        gap: 25px;
        padding: 25px 40px;
        & a {
            font-size: 15px;
        }
    }

// ______first screen______

    .first_screen_page {
        background: url('assets/img/bg_top_mob.png') center top/cover no-repeat;
        margin-bottom: 227px;
    }

    .first_screen_content {
        & p {
            font-size: 12px;
            line-height: 19px;
        }
        & p:first-of-type {
            max-width: 325px;
            margin-bottom: 15px;
        }
        & p:first-of-type:before {
            top: -18px;
        }
        & p:last-of-type {
            margin-bottom: 24px;
        }
    }

    .first_screen_title {
        font-size: 30px;
        max-width: 380px;
        margin-top: 92px;
        line-height: 39px;
        margin-bottom: 27px;
        &:before {
            margin: -4px 0px 0px -17px;
        }
        & span {
            width: 26px;
            height: 33px;
        }
        & span:before {
            left: -4px;
        }
    }

    .first_screen_btn_container {
        & .btn {
            padding: 17px 22px 17px 23px;
            font-size: 13px;
        }
    }

    .first_screen_img {
        left: -40px;
        max-width: 267px;
    }

// ______use page______

    .use_page {
        margin-top: -200px;
        margin-bottom: -34px;
    }
    
    .use_title_container {
        margin-bottom: 38px;
        & .use_title {
            margin-bottom: 17px;
        }
        & p {
            font-size: 12px;
            line-height: 24px;
            max-width: 362px;
            margin-bottom: 23px;
        }
        & .use_title_device_container {
            gap: 10px;
        }
    }
    
    .use_mobile_container {
        max-width: 100%;
        & .slider_phone {
            min-height: 472px;
            margin-bottom: 20px;
        }
        & .arrow_container {
            max-width: 130px;
            top: 94%;
        }
    }
    
    .use_content_container {
        & .ul_first {
            padding: 0 20px 0 24px;
            & li {
                font-size: 12px;
                margin-bottom: 18px;
                &:before {
                    width: 8px;
                    height: 8px;
                    top: 5px;
                }
            }
        }
        & .use_content_btn {
            & .btn-primary {
                padding: 17px 24px 18px 26px;
                font-size: 13px;
            }
        }
    }
// ______about us page______
    .about-us-page {
        background: url('assets/img/about_us_bg_img_mob.png') center top/cover no-repeat;
        padding-bottom: 60px;
        padding-top: 101px;
    }

    .about_us_container h2 {
        margin-bottom: 27px;
    }

    .about_us_slider {
        & .slide_container {
            padding: 31px 0px;
            &:before {
                background: url('assets/img/about_us_content_img_mob.png') no-repeat;
                width: 65px;
                height: 65px;
            }
        }
        & .slide_content {
            padding: 39px 15px 23px 15px;
            &:before,
            &:after {
                background: url("assets/img/about_us_icon_mob.svg") no-repeat;
                width: 31px;
                height: 24px;
            }
            &:before {
                top: -16px;
            }
            &:after {
                bottom: -16px;
            }
            & .content_name {
                font-size: 13px;
                margin-bottom: 11px;
                &:after {
                    width: 19px;
                    height: 7px;
                    right: -27px;
                }
            }
            & .content_feedback {
                font-size: 11px;
                line-height: 15px;
                max-width: 321px;
                & span {
                    display: inline;
                }
            }
        }
    }

    // ______price page______

    .price_device_container {
        gap: 10px;
    }

    .price_page_section {
        margin-top: 28px;
    }

    .price_page_section h2 {
        margin-bottom: 36px;
    }

    .price_device_container {
        margin-bottom: 45px;
    }

    .price_container .price_container_item .price_container_title {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .price_container .price_container_item .price_container_content .price_container_term {
        font-size: 25px;
        margin-bottom: 17px;
    }

    .price_container .price_container_item .price_container_content ul li {
        font-size: 14px;
        padding-bottom: 7px;
    }

    ul {
        & .ul_second {
            padding-left: 31px;
            &:before {
                background: url('assets/img/icon_check_mob.svg') no-repeat;
                width: 16px;
                height: 12px;
            }
        }
        & .ul_third {
            padding-left: 31px;
            &:before {
                background: url('assets/img/icon_close_mob.svg') no-repeat;
                width: 16px;
                height: 12px;
            }
        }
    }

    .price_container .price_container_item .btn {
        padding: 17px 62px 17px 72px;
        font-size: 15px;
    }

    .price_container .price_container_item .price_container_content {
        padding: 22px 10px 15px;
    }

    .price_container .price_container_item .price_container_content .price_container_value:after {
        font-size: 27px;
    }
}