@media screen and (max-width: 1399px) {
// ______header______
    .nav_list {
        gap: 50px;
    }

// ______first screen______

    .first_screen_img {
        left: 0px;
    }

    .first_screen_car_img img {
        bottom: 30%;
        max-width: 100%;
    }






}
