@media screen and (max-width: 991px) {
// ______header______
    header {
        margin-bottom: -66px;
    }

    .header_btn {
        display: none;
    }
    
    .header_select {
        order: 3;
    }

    .header_container .nice-select {
        font-size: 12px;
        padding-left: 38px;
        padding-right: 9px;
        height: 36px;
        margin-left: 0;
        margin-right: 0;
    }

    .nice-select:after {
        display: none;
    }
    
    .nice-select.open:after {
        display: none;
    }

    .header_container {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .header_logo {
        order: 2;
        margin: 0 15px;
        padding-bottom: 10px;
        padding-left: 31px;
    }

    .burger_container {
        height: 13px;
        width: 35px;
    }

    .burger {
        display: inline-block !important;
        border: none;
        background-color: transparent;
        position: relative;
        &:before,
        &:after {
            content: "";
            position: absolute;
            background-color: $title-color;
            height: 1px;
            width: 35px;
            left: 0;
            transition: .3s;
        }
        &:before {
            top: -2px;
        }
        &:after{
            top: 10px;
        }
        &:hover:before,
        &:hover:after {
            box-shadow: 20px 20px 35px 0 $color-bnt-shadow;
        }
    }

    .burger.show {
        &:before {
            top: 6px;
            transform: rotate(45deg);
            transition: .3s;
        }
        &:after {
            top: 6px;
            transform: rotate(-45deg);
            transition: .3s;
        }
    }

    .nav_list {
        flex-direction: column;
        align-items: flex-start;
        order: 1;
        position: absolute;
        top: 66px;
        left: 15px;
        gap: 35px;
        padding: 35px 50px;
        background: $background-color;
        box-shadow: 0 20px 35px 0 $color-bnt-shadow;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        opacity: 0;
        transform: translateX(-120%);
        overflow: hidden;
        z-index: 2;
        a {
            color: $subtitle-color;
        }
        &.show {
            opacity: 1;
            transform: translateX(0);
            transition: .3s;
        }
    }

    .nice-select {
        font-size: 12px;
        padding-left: 38px;
        padding-right: 9px;
        height: 36px;
        margin-right: 0px;
    }

// ______first screen______

    .first_screen_title {
        font-size: 46px;
        line-height: 58px;
        margin-bottom: 40px;
        margin-top: 100px;
        &:before {
            background: url(assets/img/icon_title_first_screen_mob.svg) no-repeat;
            width: 26px;
            height: 26px;
            margin: 11px 0px 0px -13px;
        }
    }

    .first_screen_content {
        & p {
            font-size: 16px;
            line-height: 24px;
        }
        & p:first-of-type {
            margin-bottom: 28px;
            max-width: 512px;
        }
        & p:first-of-type:before {
            top: -23px;
        }
        & p:last-of-type {
            margin-bottom: 30px;
        }
    }

    .first_screen_img {
        left: -100px;
    }

}