@media screen and (max-width: 1399px) {
// ______header______
    .nav_list {
        gap: 50px;
    }

// ______first screen______

    .first_screen_img {
        left: 0px;
    }

    .first_screen_car_img img {
        max-width: 100%;
    }

// ______use page______

    .use_content_container {
        & .use_content_text p {
            padding: 29px 5px 29px 5px;
            & img {
                padding-right: 8px;
            }
        }
    }
}
