@media screen and (max-width: 767px) {
// ______first screen______
    .first_screen_content {
        & p {
            font-size: 14px;
            line-height: 20px;
        }
        & p:first-of-type {
            max-width: 372px;
        }
        & p:first-of-type:before {
            height: 3px;
            top: -23px;
        }
    }

    .first_screen_title {
        font-size: 34px;
        max-width: 385px;
        line-height: 48px;
        &:before {
            margin: -3px 0px 0px -14px;
        }
        & span {
            width: 33px;
            height: 33px;
        }
        & span:before {
            background: url(assets/img/icon_pubg_mob.svg) no-repeat;
            top: 8px;
            left: -1px;
            width: 33px;
            height: 33px;
        }
    }

    .first_screen_btn_container {
        flex-direction: column;
        gap: 17px;
        margin-bottom: 7px;
        & .btn {
            padding: 18px 27px 20px 27px;
            font-size: 15px;
        }
        & .btn + .btn + .btn {
            display: inline-block;
        }
        & > .btn-secondary {
            display: none;
        }
        & .btn-info .icon {
            margin-left: 13px;
            width: 32px;
        }
    }

    .first_screen_img {
        left: 0px;
        max-width: 437px;
    }
}