@media screen and (max-width: 767px) {
// ______first screen______
    .first_screen_content {
        & p {
            font-size: 14px;
            line-height: 20px;
        }
        & p:first-of-type {
            max-width: 372px;
        }
        & p:first-of-type:before {
            height: 3px;
            top: -23px;
        }
    }

    .first_screen_title {
        font-size: 34px;
        max-width: 385px;
        line-height: 48px;
        &:before {
            margin: -3px 0px 0px -14px;
        }
        & span {
            width: 33px;
            height: 33px;
        }
        & span:before {
            background: url(assets/img/first_screen_icon_pubg_mob.svg) no-repeat;
            top: 8px;
            left: -1px;
            width: 33px;
            height: 33px;
        }
    }

    .first_screen_btn_container {
        flex-direction: column;
        gap: 17px;
        margin-bottom: 7px;
        & .btn {
            padding: 18px 27px 20px 27px;
            font-size: 15px;
        }
        & .btn + .btn + .btn {
            display: inline-block;
        }
        & > .btn-secondary {
            display: none;
        }
        & .btn-info .icon {
            margin-left: 13px;
            width: 32px;
        }
    }

    .first_screen_img {
        left: 0px;
        max-width: 437px;
    }

// ______use page______

    .use_content_container {
        & .use_content_btn {
            & .btn {
                padding: 18px 27px 20px 27px;
                font-size: 15px;
            }
            & .btn-primary .icon {
                margin-left: 13px;
                width: 32px;
            }
        }
    }

// ______about us page______

    .about_us_slider {
        & .slide_content {
            padding: 82px 15px 23px 15px;
            & .content_feedback {
                & span {
                    display: inline;
                }
            }
        } 
    }


// ______price page______

    .price_page_section {
        & h2 {
            margin-bottom: 44px;
        }
    }

    .price_device_container {
        gap: 20px;
        margin-bottom: 50px;
        & div {
            font-size: 12px;
            padding: 19px 17px 18px 17px;
            & img {
                margin-right: 11px;
                min-width: 18px;
            }
        }
        & .device_ios {
            & img {
                min-width: 16px;
            }
        }
    }

    .price_container {
        & .price_container_item {
            & .price_container_title {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            & .price_container_content {
                padding: 25px 10px 22px;
                & ul {
                    margin-bottom: 11px;
                    & li {
                        font-size: 16px;
                        padding-bottom: 14px;
                    }
                }
                & .price_container_value {
                    font-size: 40px;
                    &:after {
                        font-size: 30px;
                        right: -33px;
                    }
                }
            }
            & .btn {
                font-size: 17px;
            }
        }
    }

// ______questions page______

    .question_page_section {
        margin-top: 100px;
        & .template_title {
            margin-bottom: 75px;
        }
        & .accordion {
            & .accordion-item {
                & .accordion-button {
                    font-size: 16px;
                    padding: 30px 63px 30px 25px;
                    &:before,
                    &:after {
                        height: 2px;
                        width: 16px;
                        right: 30px;
                    }
                }
            }
            & .accordion-body {
                font-size: 14px;
                padding: 30px 30px 30px 50px;
                margin-top: -30px;
                line-height: 22px;
                &:before {
                    left: 32px;
                    height: calc(100% - 44px);
                }
            }
            
        }
    }

    // ______contact page______


}