@media (min-width: 992px) {

    .burger {
        display: none;
    }

    .use_title_container {
        & .use_title_device_container {
            display: none;
        }
    }

    .use_content_container {
        & .use_content_title {
            display: none;
        }
    }

    // ______first screen______

    .first_screen_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        & p {
            text-align: center;
        }
        & p:first-of-type:before {
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .first_screen_title {
        text-align: center;
    }

    .first_screen_btn_container {
        justify-content: center;
    }

    .first_screen_img {
        left: -150px;
    }

    .first_screen_car_img {
        display: none;
    }
}
