.contact-page {
    background: url(assets/img/contact_bg.png) top/cover no-repeat;
    margin-bottom: -126px;
    padding-bottom: 184px;
}

.contact_section {
    & .template_title {
        text-align: center;
        margin-bottom: 26px;
    }
    & .contact_container {
        display: flex;
        & .img_box {
            display: flex;
            justify-content: center;
            align-items: end;
        }
        & .input_container {
            & form {
                min-width: 644px;
                background-color: #ffffff;
                margin-left: 82px;
                margin-right: 82px;
                padding: 48px 32px 33px 62px;
                border-radius: 5px;
                position: relative;
                margin-top: 66px;
                box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.03);
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 116px;
                    height: 116px;
                    transform: rotate(-45deg);
                    filter: drop-shadow(0 0 25px rgba(2, 95, 149, 0.3254901961));
                }
                &:before {
                    bottom: -62px;
                    left: -62px;
                    background-image: url("data:image/svg+xml,%3Csvg width='116' height='116' viewBox='0 0 116 116' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_5524_7)'%3E%3Crect x='0.896484' y='0.738281' width='115' height='115' rx='15' transform='rotate(0.0789883 0.896484 0.738281)' fill='url(%23paint0_linear_5524_7)'/%3E%3C/g%3E%3Cpath d='M55.4406 93.22L54.9866 85.5199L54.8422 81.0684L54.6867 76.3645L52.145 80.8955L30.6491 59.3402C28.5041 57.1738 28.529 53.6699 30.7047 51.5112L56.5504 25.7366C58.7158 23.5706 62.2166 23.5572 64.3756 25.7066L89.7902 51.1914C91.9336 53.3563 91.9105 56.8571 89.7386 59.0164L55.4406 93.22ZM63.497 67.1193C61.5172 67.4101 59.5018 66.9963 57.8034 65.95C57.6419 67.237 57.5015 68.7344 57.4995 68.7484C59.7406 71.0934 62.9947 72.1848 66.2086 71.6697C70.0143 67.7367 72.89 63.0021 74.6226 57.817C74.3046 55.0903 73.1547 52.532 71.3289 50.4894L71.307 50.4673L70.7356 50.5061C71.9938 52.7022 72.776 55.1402 73.0318 57.6627C72.244 54.9142 70.9282 52.3481 69.1578 50.1073C68.0271 48.6884 66.7287 47.4121 65.2907 46.306C65.1991 46.2177 65.1002 46.1374 64.995 46.0658L64.9391 46.0098C63.2778 44.6894 61.418 43.6394 59.4277 42.8981C58.429 42.5285 57.7803 42.3369 57.7543 42.327C57.7283 42.317 57.7543 42.327 57.7684 42.3129C60.4094 42.6253 62.9527 43.4878 65.2344 44.8449L65.2642 44.4159L65.2522 44.4039C63.2144 42.5729 60.6594 41.4159 57.9337 41.0901C52.7399 42.7996 47.9955 45.6635 44.0579 49.4658C43.5047 52.6739 44.5861 55.9381 46.9411 58.169C46.9411 58.169 48.5332 58.0106 49.8006 57.8607C48.8034 56.1841 48.4237 54.2092 48.7267 52.276C48.7306 52.3 48.7934 52.6326 48.9357 53.1295C48.9318 53.1764 48.9377 53.2235 48.9532 53.2678C48.9609 53.3108 48.9721 53.353 48.9868 53.394C49.0039 53.4401 49.0165 53.4877 49.0243 53.5363C49.2222 54.2297 49.4693 54.9079 49.7637 55.5658C50.3071 56.8328 50.9665 58.0463 51.7334 59.1911C52.4105 60.1878 53.1783 61.1194 54.0272 61.9742C54.8249 62.7739 55.6948 63.4981 56.6261 64.1376C57.7376 64.9178 58.9354 65.5679 60.1961 66.0752C61.2536 66.5447 62.3608 66.8949 63.497 67.1193ZM60.2879 62.1827C59.3431 61.3879 58.9861 60.092 59.389 58.9194C59.7919 57.7467 60.872 56.9378 62.109 56.8824C63.3459 56.827 64.486 57.5365 64.98 58.669C65.4739 59.8014 65.2203 61.1247 64.3415 62.0011C63.2627 63.1649 61.4516 63.2451 60.2859 62.1807L60.2879 62.1827ZM53.3648 55.2405C52.3685 54.0495 52.4522 52.2896 53.5575 51.1874C54.6628 50.0851 56.4228 50.0063 57.6111 51.0059C58.1127 51.512 58.3869 52.2007 58.3711 52.9151C58.3527 53.7261 58.0112 54.4979 57.4224 55.0589C56.3439 56.2268 54.5284 56.3071 53.3628 55.2385L53.3648 55.2405Z' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_i_5524_7' x='0.758789' y='0.758949' width='115.117' height='115.117' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0.197167 0 0 0 0 0.704167 0 0 0 0.3 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_5524_7'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_5524_7' x1='-6.62687' y1='-267.595' x2='297.441' y2='-197.348' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230AA6FE'/%3E%3Cstop offset='1' stop-color='%2305FFFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                }
                &:after {
                    top: -62px;
                    right: -62px;
                    background-image: url("data:image/svg+xml,%3Csvg width='116' height='116' viewBox='0 0 116 116' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_5524_9)'%3E%3Crect x='0.902344' y='0.732666' width='115' height='115' rx='15' transform='rotate(0.0845518 0.902344 0.732666)' fill='url(%23paint0_linear_5524_9)'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M89.6435 56.8087C89.1336 56.4719 88.6482 56.2458 86.1211 55.1681C83.5256 54.0612 77.5109 51.512 76.8906 51.2558C76.653 51.1577 75.2422 50.562 73.7554 49.9318C71.0897 48.8021 53.9233 41.5445 48.9793 39.4569C47.5816 38.8668 45.9942 38.1941 45.4518 37.962C43.8647 37.283 43.1751 37.092 42.305 37.0905C40.5145 37.0872 39.1554 38.3825 38.99 40.2495C38.9422 40.7901 39.0861 41.7861 39.2982 42.382C39.3836 42.622 40.5323 44.9468 41.8508 47.5481C43.1694 50.1494 44.2465 52.3045 44.2443 52.3374C44.2421 52.3701 43.5389 53.7404 42.6815 55.3823C38.3704 63.6384 38.1483 64.0886 37.9321 65.0083C37.7974 65.5817 37.8073 66.3043 37.9559 66.7412C38.1461 67.3007 38.5994 67.9269 39.0624 68.2701C39.5278 68.615 40.0325 68.8554 40.4436 68.9282C40.617 68.9589 41.5106 69.0314 42.4295 69.0893C46.6447 69.355 48.3982 69.4861 48.4427 69.5391C48.4692 69.5705 48.7138 71.1232 48.9863 72.9894C50.387 82.5834 50.2381 81.7779 50.7868 82.7276C51.0902 83.2526 52.1213 84.2816 52.6595 84.5964C53.5625 85.1245 54.5749 85.3407 55.5739 85.2186C56.698 85.0813 56.5519 85.1622 61.0331 82.1967C63.2702 80.7163 65.5311 79.2205 66.0574 78.8727C67.0859 78.1928 73.6298 73.8606 75.4279 72.669C76.0287 72.2709 78.7335 70.4804 81.4384 68.6902C84.1434 66.9 87.0992 64.9437 88.0069 64.3429C88.9145 63.7421 89.8202 63.1152 90.0195 62.95C91.766 61.501 91.9473 59.1502 90.4385 57.5149C90.1788 57.2334 89.8665 56.956 89.6435 56.8087ZM87.0658 60.0742C87.012 60.1078 86.7117 60.308 86.3984 60.5192C86.0851 60.7303 84.1195 62.034 82.0304 63.4162C76.8774 66.8255 60.9155 77.3873 58.0116 79.3091C56.7192 80.1644 55.5653 80.9312 55.4474 81.0132C55.1707 81.2055 54.8921 81.2909 54.7197 81.2358C54.5116 81.1695 54.2779 80.9049 54.1875 80.6335C54.1249 80.4455 53.2372 74.5554 52.488 69.3566C51.9809 65.8383 51.9578 65.7128 51.8144 65.6938C51.7373 65.6835 49.7112 65.5486 47.3121 65.3939C42.8742 65.1078 42.2752 65.0652 42.3025 65.0381C42.3242 65.0164 49.6774 59.7292 49.8786 59.5906C50.011 59.4993 50.4989 59.5009 52.2901 59.5984C53.5252 59.6657 55.1813 59.7541 55.9704 59.795C56.7594 59.8358 59.7106 59.9933 62.5286 60.1448C65.3465 60.2963 67.894 60.432 68.1896 60.4464C68.4854 60.4607 69.6696 60.5236 70.8212 60.5862C74.8994 60.8079 75.3314 60.8298 76.2156 60.8603C77.21 60.8946 77.4111 60.8599 77.5721 60.6261C77.8175 60.2699 77.6597 59.9757 77.0804 59.7098C76.9119 59.6324 75.9963 59.3751 75.0455 59.138C74.0948 58.9008 71.259 58.1871 68.7437 57.5519C66.2284 56.9166 63.5458 56.2399 62.7822 56.048C61.4373 55.7101 56.2399 54.3986 51.2261 53.1319C49.6726 52.7395 48.7691 52.4788 48.7485 52.417C48.7306 52.3635 47.4715 49.8719 45.9504 46.88C44.4294 43.8881 43.1823 41.4096 43.1792 41.3721C43.176 41.3347 45.7944 42.4127 48.9979 43.7678C54.4358 46.0681 59.0043 47.9995 69.2073 52.3118C77.5515 55.8385 78.7839 56.3605 82.9238 58.1214C85.2421 59.1074 87.1444 59.9364 87.1512 59.9636C87.158 59.9908 87.1195 60.0406 87.0658 60.0742Z' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_i_5524_9' x='0.754883' y='0.754784' width='115.125' height='115.125' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='12.5'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0.197167 0 0 0 0 0.704167 0 0 0 0.3 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_5524_9'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_5524_9' x1='-6.62101' y1='-267.601' x2='297.447' y2='-197.353' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230AA6FE'/%3E%3Cstop offset='1' stop-color='%2305FFFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");                }
                & .input_title {
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 19px;
                }
                & .input_row {
                    display: flex;
                    gap: 22px;
                    margin-bottom: 48px;
                    & .input_box {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        width: 100%;
                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            left: 0;
                            bottom: -5px;
                            background-color: rgba(46, 58, 89, 0.43);
                        }
                        & .contact_icon {
                            position: absolute;
                            top: 50%;
                            left: 0px;
                            transform: translateY(-50%);
                            max-width: 18px;
                        }
                        & label {
                            font-size: 14px;
                            color: rgba(46, 58, 89, 0.43);
                            margin-bottom: 8px;
                            & img {
                                margin-right: 10px;
                            }
                        }
                        & input,
                        & textarea {
                            padding: 10px 10px 10px 27px;
                            border: none;
                            width: 100%;
                            &:focus {
                                outline: none;
                            }
                            &::placeholder {
                                font-size: 14px;
                                color: #2e3a596e;
                            }
                        }
                        & textarea {
                            padding: 10px;
                            resize: none;
                        }
                    }
                }
                & .input_btn {
                    display: flex;
                    margin-bottom: 6px;
                    & .btn {
                        margin-left: auto;
                        margin-right: auto;
                        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
                    }
                }
            }
        }
    }
}