.first_screen_page {
    background: url('assets/img/bg_top.png') center top/cover no-repeat;
    margin-bottom: 505px;
}

.first_screen_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.first_screen_content {
    color: $title-color;
    & p {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    }
    & p:first-of-type {
        margin-bottom: 21px;
        max-width: 685px;
        position: relative;
    }
    & p:first-of-type:before {
        content: '';
        position: absolute;
        width: 110px;
        height: 5px;
        background: $gradient-eighth;
        top: -27px;
        left: 0;
    }
    & p:last-of-type{
        margin-bottom: 42px;
    }
}

.first_screen_title {
    color: $title-color;
    max-width: 615px;
    margin-top: 191px;
    margin-bottom: 53px;
    line-height: 68px;
    text-transform: uppercase;
    position: relative;
    &:before {
        content: '';
        background: url('assets/img/icon_title_first_screen.svg') no-repeat;
        width: 46px;
        height: 46px;
        margin: -9px 0px 0px -23px;
        position: absolute;
    }
    & span {
        width: 49px;
        height: 59px;
        display: inline-block;
        position: relative;
    }
    & span:before{
        content: '';
        background: url('assets/img/icon_pubg.svg') no-repeat;
        top: 13px;
        left: -8px;
        position: absolute;
        width: 59px;
        height: 59px;
    }
}

.first_screen_btn_container {
    display: flex;
    gap: 34px;
    margin-bottom: 31px;
}

.first_screen_img {
    position: relative; 
    bottom: 0px; 
    left: -100px;
}

.first_screen_car_img {
    position: relative;
    width: 48%;
    & img {
        position: absolute;
        left: 0px;
        bottom: 225px;
        max-width: 125%;
    }
}