body {
    background-color: $background-color;
    overflow-x: hidden;
    color: $subtitle-color;
    &.overflow-hidden {
        &:before {
            content: '';
            width: 100vw;
            height: 100vh;
            background-color: #0aa6fe91;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            backdrop-filter: blur(6px);
        }
    }   
}

::selection {
    background-color: $color-select;
    color: $subtitle-color;
}

ul li,
ol li {
    list-style: none;
}

a {
    color: $color-blue;
    text-decoration: underline;
}

a:hover,
a:active,
a:focus {
    color: $color-first-before;
    text-decoration: underline;

    &:focus {
        outline: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    & section {
        margin-left: auto;
        margin-right: auto;
    }
}

.col-md-4 {
    padding: 10px;
}

.markup__color_container li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $subtitle-color;
}

.color__item {
    max-width: 300px;
    height: 100px;
    margin-bottom: 10px;
}

.color__item_1 {
    background: $gradient-first;
}

.color__item_2 {
    background: $gradient-second;
}

.color__item_3 {
    background: $gradient-third;
}

.color__item_4 {
    background: $gradient-fourth;
}

.color__item_5 {
    background: $gradient-fifth;
}

.color__item_6 {
    background: $gradient-sixth;
}

.color__item_7 {
    background-color: $color-red;
}

.color__item_8 {
    background-color: $color-blue;
}

.color__item_9 {
    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: $gradient-border;
}

.color__item_10 {
    background: $gradient-seventh;
}

.color__item_11 {
    background: $gradient-eighth;
}

.color__item_12 {
    background: $color-icon-text;
}

.color__item_13 {
    background: $gradient-ninth;
}

.markup__text_container span {
    background: $color-select;
}

.title_color {
    color: $title-color;
}

.subtitle_color {
    color: $subtitle-color;
}

.text_color_secondary {
    color: $text-color-secondary;
}

.text_color_accent {
    color: $color-blue;
}

.text_color_light {
    color: $text-color-light;
}

.text_color_placeholder {
    color: $text-color-placeholder;
}

.ul_first li {
    position: relative;
    padding-left: 24px;

    &:before {
        content: "";
        position: absolute;
        background-color: $color-first-before;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        left: 0px;
        top: 7px;
    }
}

ul {
    & .ul_second {
        position: relative;
        padding-left: 35px;

        &:before {
            content: "";
            position: absolute;
            background: url('assets/img/icon_check.svg') no-repeat;
            width: 23px;
            height: 18px;
            left: 0px;
            top: 3px;
        }
    }

    & .ul_third {
        position: relative;
        padding-left: 35px;

        &:before {
            content: "";
            position: absolute;
            background: url('assets/img/icon_close.svg') no-repeat;
            width: 18px;
            height: 18px;
            left: 0px;
            top: 3px;
        }
    }

}

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

.fw_800 {
    font-weight: 800;
}

h1,
.h1 {
    font-size: 55px;
    font-weight: 800;
}

h2,
.h2 {
    font-size: 45px;
    font-weight: 800;
}

h3,
.h3 {
    font-size: 45px;
    font-weight: 600;
}

h4,
.h4 {
    font-size: 30px;
    font-weight: 600;
}

h5,
.h5 {
    font-size: 21px;
    font-weight: 600;
}

h6,
.h6 {
    font-size: 18px;
    font-weight: 600;
}

.markup__buttons_container button {
    margin-bottom: 10px;
}

.btn {
    font-weight: 600;
    font-size: 18px;
    color: $title-color;
    border-radius: 5px;
    padding: 20px 47px;
    background: $gradient-second;
    border: none;
    text-wrap: nowrap;
}


.btn-info {
    padding: 24px 34px 24px 48px;
    box-shadow: 0 20px 35px 0 $color-bnt-shadow;
    .icon {
        margin-left: 31px;
        transition: .2s;
    }
}

.btn-secondary {
    position: relative;
    padding: 26px 39px;
    background: transparent;
    border: none;
    border-radius: 5px;
    text-align: center;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        padding: 1px;
        background: $gradient-border;
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        z-index: -1;
    }
}

.btn-primary {
    padding: 25px 34px 25px 35px;
    box-shadow: 0 20px 35px 0 $color-bnt-shadow;

    .icon {
        margin-left: 18px;
        transition: .2s;
    }
}

.btn-warning {
    padding: 22px 29px 22px 29px;
    background: $color-red;

    .icon {
        margin-left: 18px;
        transition: .2s;
    }
}

.btn-lg {
    padding: 24px 100px 24px 130px;
    box-shadow: 0 20px 35px 0 $color-bnt-shadow;
    border-radius: 0 0 5px 55px;
    background: $gradient-seventh;

    .icon {
        margin-left: 22px;
        transition: .2s;
    }
}

.btn:hover,
.btn:active,
.btn-secondary:hover:before,
.btn-secondary:active:before,
:not(.btn-check) + .btn:active,
:not(.btn-check) + .btn-primary:active,
.btn-info:first-child:active,
.btn-primary:first-child:active {
    color: $subtitle-color;
    transform: scale(1.05);
    transition: .2s;
}

.btn:focus {
    color: $subtitle-color;
}

:not(.btn-check)+.btn-secondary:active,
.btn-secondary:hover {
    color: $subtitle-color;
    background-color: unset;
}

.btn-warning:hover,
:not(.btn-check) + .btn-warning:active {
    background-color: $color-red;
}

.btn:hover .icon,
.btn:active .icon,
.btn:focus .icon {
    filter: brightness(0) saturate(100%) invert(20%) sepia(50%) saturate(447%) hue-rotate(184deg) brightness(94%) contrast(95%);
    transition: .2s;
}

.template_title {
    text-transform: uppercase;
    position: relative;
    &:before {
        content: '';
        background: url('assets/img/icon_title_first_screen.svg') no-repeat;
        width: 46px;
        height: 46px;
        margin: -13px 0px 0px -24px;
        position: absolute;
    }
    &.template_title_light {
        color: $title-color;
    }
    &.template_title_double {
        &:before,
        &:after {
            content: '';
            width: 40px;
            height: 8px;
            background-color: $color-first-before;
            position: absolute;
            transform: rotate(-45deg);
        }
        &:before {
            margin: 6px 0px 0px -22px;
        }
        &:after {
            margin: 41px 0px 0px -15px;
        }
    }
    &.template_title_colored {
        &:after {
            background-color: $color-blue;
        }
    }
}


