body {
    background-color: $background-color;
}

::selection {
    background-color: #82e9ff;
    color: #2e3a59;
}

ul li,
ol li {
  list-style: none;
}

a {
    color: #0aa6fe;
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.color__item {
    max-width: 300px;
    height: 100px;
    margin-bottom: 10px;
}

.color__item_1 {
    background: linear-gradient(151deg, #1a47ea 0%, #82e9ff 100%);
}

.color__item_2 {
    background: linear-gradient(157deg, #ff9b05 0%, #ff8f3f 100%);
}

.color__item_3 {
    background: linear-gradient(163deg, #05ffff 0%, #0aa6fe 100%);
}

.color__item_4 {
    background: linear-gradient(79deg, #dda6ff 0%, #d828f4 100%);
}

.color__item_5 {
    background: linear-gradient(162deg, #ff9898 0%, #ff1f00 100%);
}

.color__item_6 {
    background: linear-gradient(174deg, #0aa6fe 0%, #05ffff 100%);
}

.color__item_7 {
    background-color: #ff3b3b;
}

.color__item_8 {
    background-color: #0aa6fe;
}

.color__item_9 {
    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(169deg, #05ffff 0%, #11d4ff 100%);
}

.title_color {
    color: #ffffff;
}

.subtitle_color {
    color: #2e3a59;
}

.text_color_primary {
    color: #ffffff;
}

.text_color_secondary {
    color: #828282;
}

.text_color_accent {
    color: #0aa6fe;
}

.text_color_light {
    color: #727272;
}

.text_color_placeholder {
    color: #2e3a596e;
}

.ul_first li {
    position: relative;
    padding-left: 28px;
}

.ul_first li:before {
    content: "";
    position: absolute;
    background-color: #FB8500;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    left: 0px;
    top: 7px;
}

.ul_second li {
    position: relative;
    padding-left: 35px;
}

.ul_second li:before {
    content: "";
    position: absolute;
    background: url('assets/img/icon_check.svg') no-repeat;
    width: 23px;
    height: 18px;
    left: 0px;
    top: 3px;
}

.ul_third li {
    position: relative;
    padding-left: 35px;
}

.ul_third li:before {
    content: "";
    position: absolute;
    background: url('assets/img/icon_close.svg') no-repeat;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 3px;
}

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

.fw_800 {
    font-weight: 800;
}

h1,
.h1 {
    font-size: 55px;
    font-weight: 800;
}

h2,
.h2 {
    font-size: 45px;
    font-weight: 800;
}

h3,
.h3 {
    font-size: 45px;
    font-weight: 600;
}

h4,
.h4 {
    font-size: 30px;
    font-weight: 600;
}

h5,
.h5 {
    font-size: 21px;
    font-weight: 600;
}

h6,
.h6 {
    font-size: 18px;
    font-weight: 600;
}
.markup__buttons_container button {
    margin-bottom: 10px;
}

.btn {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px 47px;
    background: linear-gradient(157deg, #ff9b05 0%, #ff8f3f 100%);
    border: none;
}


.btn-info {
    padding: 24px 34px 24px 43px;    
    .icon {
        margin-left: 36px;
        transition: 0.3s;
    }
}

.btn-secondary {
    background: transparent;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(169deg, #05ffff 0%, #11d4ff 100%);
    padding: 24px 38px
}

.btn-primary {
    padding: 25px 34px 25px 35px;
    .icon {
        margin-left: 18px;
        transition: 0.3s;
    }
}

.btn-warning {
    padding: 22px 29px 22px 29px;
    background: #ff3b3b;
    .icon {
        margin-left: 18px;;
        transition: 0.3s;
    }
}

.btn-lg {
    padding: 24px 100px 24px 130px;
    box-shadow: 0 20px 35px 0 #00000014;
    border-radius: 0 0 5px 55px;
    background: linear-gradient(157deg, #ff8f3f 0%, #ff9b05 100%);
    text-wrap: nowrap;
    .icon {
        margin-left: 22px;
        transition: 0.3s;
    }
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #2e3a59;
    background: linear-gradient(174deg, #0aa6fe 0%, #05ffff 100%);
    transition: 0.3s;

}

.btn:hover .icon {
    filter: invert(100%) sepia(0%) saturate(0%) brightness(180%) contrast(101%);
}






