header {
    margin-bottom: -127px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
    a {
        text-decoration: none;
    }
}

.header_logo {
    font-size: 17px;
    color: $title-color;
}

.nav_list {
    display: flex;
    gap: 65px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    a {
        font-weight: 700;
        font-size: 17px;
        color: $title-color;
        position: relative;
    }
    a:hover {
        transform: scale(1.1);
        transition: .3s;
    }
    a:after,
    a:before {
        content: '';
        position: absolute;
        height: 3px;
        width: 0px;
        bottom: 0px;
    }
    a:before {
        left: 50%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background: $gradient-seventh;
    }
    a:after {
        right: 50%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background: $gradient-second;
    }
    a:hover:after,
    a:hover:before {
        width: 50%;
        transition: .3s;
    }
}

.header_container .nice-select {
    border: none;
    font-size: 17px;
    font-weight: 700;
    height: 58px;
    padding-left: 61px;
    padding-right: 36px;
    transition: .3s;
    display: flex;
    align-items: center;
    color: $subtitle-color;
    box-shadow: 0 20px 35px 0 $color-bnt-shadow;
    margin-right: 15px;
    margin-left: auto;
    &:after,
    &.open:after {
    border: 7px solid transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    &:after {
        border-bottom: 7px solid $subtitle-color;
        top: 22px;
    }
    &.open:after {
        border-top: 7px solid $subtitle-color;
        top: 30px;
    }
    &.option:hover,
    &.option.focus,
    &.option.selected.focus {
    background-color: $background-color;
    }
    &.open .list {
        box-shadow: 0 20px 35px 0 $color-bnt-shadow;
        border: none;
    }
}

.language_ru,
.language_ua,
.language_en {
    position: relative;
}

.language_ru:before,
.language_ua:before,
.language_en:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 16px;
    height: 100%;
    width: 40px;
}

.language_ru:before {
    background: url('assets/img/icon_ru.svg') no-repeat;
}

.language_ua:before {
    background: url('assets/img/icon_ua.svg') no-repeat;
}

.language_en:before {
    background: url('assets/img/icon_eng.svg') no-repeat;
}

.header_btn {
    box-shadow: 0 20px 35px 0 $color-bnt-shadow;
    background: $gradient-second;
    border: none;
    border-radius: 5px;
    padding: 17px 26px;
    &:hover {
        background: $gradient-seventh;
        transition: .3s;
    }
    &:hover img {
        transform: scale(1.1);
        transition: .3s;
    }
}