.question_page_section {
    margin-top: 136px;
    margin-bottom: 100px;
    max-width: 948px;
    width: 100%;
    & .template_title {
        text-align: center;
        margin-bottom: 88px;
    }
    & .accordion {
        --bs-accordion-border-width: 0px;
        --bs-accordion-border-radius: 5px;  
        --bs-accordion-inner-border-radius: 5px;
        margin-bottom: 41px;
        & .accordion-collapse {
            box-shadow: 0 15px 25px 0 $color-container-shadow;
        }
        & .accordion-item {
            margin-bottom: 22px;
            & .accordion-button {
                font-weight: 600;
                font-size: 18px;
                color: $subtitle-color;
                background-color: $title-color;
                padding: 37px 46px 37px 38px;
                box-shadow: none;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 22px;
                    background: $gradient-ninth;
                    right: 46px;
                    top: 50%;
                    transition: all .2s;
                }
                &:before {
                    transform: translate(0, -50%);
                }
                &:after {
                    transform: translate(0, -50%) rotate(90deg);
                }
                &:hover:before {
                    transform: rotate(90deg);
                }
                &:hover:after {
                    transform: rotate(180deg);
                }
                &:not(.collapsed):hover:before{
                    transform: rotate(225deg);
                }
                &:not(.collapsed):hover:after{
                    transform: rotate(315deg);
                }
                &:not(.collapsed):before{
                    transform: rotate(315deg);
                }
                &:not(.collapsed):after{
                    transform: rotate(405deg);
                }
                &.collapsed {
                    box-shadow: 0 15px 25px 0 $color-container-shadow;
                }
            }
        }
        & .accordion-body {
            position: relative;
            background-color: $title-color;
            font-size: 16px;
            color: $text-color-light;
            padding: 38px 67px 38px 58px;
            margin-top: -32px;
            line-height: 27px;
            &:before {
                content: '';
                position: absolute;
                width: 2px;
                height: calc(100% - 76px);
                top: 50%;
                left: 39px;
                background: $gradient-ninth;
                transform: translate(0, -50%);
            }
        }
    }
    & .questions_link {
        display: flex;
        justify-content: center;
        & a {
            font-weight: 500;
            font-size: 18px;
            &:hover {
                transform: scale(1.02);
                transition: .2s;
            }
        }
    }
    & .accordion-button,
    & .accordion-flush .accordion-item,
    & .accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed,
    & .accordion-flush > .accordion-item > .accordion-collapse {
        border-radius: 5px;
    }
}