.question_page_section {
    margin-bottom: 100px;
    margin-top: 50px;
    max-width: 948px;
    width: 100%;
    & h2 {
        text-align: center;
    }
    & .accordion {
        --bs-accordion-border-width: 0px;
        & .accordion-item {
            margin-bottom: 25px;
            & .accordion-button {
                font-weight: 600;
                font-size: 18px;
                color: #2e3a59;
                // background-color: #fff;
                padding: 37px 46px 37px 36px;
                box-shadow: none;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 22px;
                    background: linear-gradient(136deg, #0aa6fe 0%, #05ffff 100%);
                    right: 46px;
                    top: 50%;
                    transition: all .2s;
                }
                &:before {
                    transform: translate(0, -50%);
                }
                &:after {
                    transform: translate(0, -50%) rotate(90deg);
                }
                &:hover:before {
                    transform: rotate(90deg);
                }
                &:hover:after {
                    transform: rotate(180deg);
                }
                &:not(.collapsed):hover:before{
                    transform: rotate(225deg);
                }
                &:not(.collapsed):hover:after{
                    transform: rotate(315deg);
                }
                &:not(.collapsed):before{
                    transform: rotate(315deg);
                }
                &:not(.collapsed):after{
                    transform: rotate(405deg);
                }
                &.collapsed {
                    box-shadow: 0 15px 25px 0 #00000008;
                }
            }
        }
        & .accordion-body {
            position: relative;
            // background-color: white;
            font-size: 16px;
            color: #727272;
            padding: 38px 67px 38px 58px;
            margin-top: -32px;
            &:before {
                content: '';
                position: absolute;
                width: 2px;
                height: calc(100% - 76px);
                top: 50%;
                left: 37px;
                background: linear-gradient(174deg, #0aa6fe 0%, #05ffff 100%);
                transform: translate(0, -50%);
            }
        }
    }
}
