.use_container {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 30% auto;
    grid-template-areas:
        "mobile title"
        "mobile description";
    justify-content: center;
    gap: 50px 20px;
}

.use_mobile_container {
    grid-row: span 2;
    grid-area: mobile;
    background-color: rgb(228, 250, 228);
    margin-top: 150px;
    & .slider_phone {
        overflow: hidden;
        position: relative;
        min-height: 700px; 
        & .swiper-slide {
            display: flex;
            justify-content: center;
        }
        & img {
            filter: drop-shadow(-25px 35px 15px #00000059);
        }
    }
    & .arrow_container {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 90%;
        transform: translate(-50%, 0);
        max-width: 150px;
        z-index: 2;
        & .swiper-button-next:after {
            background-image: url("data:image/svg+xml,%3Csvg width='61' height='32' viewBox='0 0 61 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.4792 32L61 16L44.4792 0L42.6822 1.74031L56.1352 14.7692L0 14.7692V17.2308L56.1352 17.2308L42.6822 30.2597L44.4792 32Z' fill='url(%23paint0_linear_5208_106)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_5208_106' x1='73.1344' y1='26.24' x2='20.8051' y2='-20.152' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230AA6FE'/%3E%3Cstop offset='1' stop-color='%2300E0FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            content: '';
            height: 32px;
            min-width: 61px;
        }
        & .swiper-button-prev:after {
            background-image: url("data:image/svg+xml,%3Csvg width='61' height='32' viewBox='0 0 61 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5208 0L0 16L16.5208 32L18.3178 30.2597L4.86475 17.2308H61V14.7692H4.86475L18.3178 1.74031L16.5208 0Z' fill='%23E2E2E2'/%3E%3C/svg%3E%0A");
            content: '';
            height: 32px;
            min-width: 61px;
        }
        & .swiper-button-next:hover,
        & .swiper-button-prev:hover {
            transform: scale(1.1);
            transition: .3s;
        }
    }
}

.use_title_container {
    grid-area: title;
    background-color: rgb(250, 250, 176);
    margin-top: 55px;
    justify-self: center;
    align-self: start;
    text-align: center;
    margin-bottom: 40px;
    & .use_title {
        text-transform: uppercase;
        color: #2e3a59;
        margin-bottom: 25px;
        position: relative;
        &:before,
        &:after {
            content: '';
            width: 40px;
            height: 8px;
            background-color: $color-first-before;
            position: absolute;
            transform: rotate(-45deg);
        }
        &:before {
            top: 0;
            left: 45px;
        }
        &:after {
            bottom: 0;
            right: 45px;
        }
    }
    & p {
        font-size: 18px;
        color: #828282;
        line-height: 28px;
        max-width: 505px;
    }
}

.use_description_container {
    grid-area: description;
    background-color: rgb(254, 177, 177);
    justify-self: center;
    & .use_des_title {
        text-transform: uppercase;
    }
    & .ul_first {
        padding: 0;
        margin-bottom: 63px;
        & li {
            font-size: 18px;
            text-align: justify;
            color: #2e3a59;
            margin-bottom: 53px;
            & span {
                font-weight: 700;
            }
        }
    }
    & .use_des_content {
        border-radius: 5px;
        width: 649px;
        height: 87px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.04);
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 57px;
        & p {
            font-size: 18px;
            color: #828282;
            line-height: 28px;
            margin: 0;
            & img {
                padding-right: 19px;
            }
        }
    }
    & .use_des_btn {
        display: flex;
        justify-content: center;
        gap: 23px;
    }
}