$background-color: #F5F9FF;
$gradient-first: linear-gradient(151deg, #1a47ea 0%, #82e9ff 100%);
$gradient-second: linear-gradient(157deg, #ff9b05 0%, #ff8f3f 100%);
$gradient-third: linear-gradient(163deg, #05ffff 0%, #0aa6fe 100%);
$gradient-fourth: linear-gradient(79deg, #dda6ff 0%, #d828f4 100%);
$gradient-fifth: linear-gradient(162deg, #ff9898 0%, #ff1f00 100%);
$gradient-sixth: linear-gradient(174deg, #0aa6fe 0%, #05ffff 100%);
$color-red: #ff3b3b;
$color-blue: #0aa6fe;
$gradient-seventh: linear-gradient(157deg, #ff8f3f 0%, #ff9b05 100%);
$gradient-eighth: linear-gradient(174deg, #ffac8b 0%, #ff4900 100%);
$gradient-border: linear-gradient(169deg, #05ffff 0%, #11d4ff 100%);
$gradient-ninth: linear-gradient(128deg, #0aa6fe 0%, #05ffff 100%);
$color-select: #82e9ff;
$title-color: #ffffff;
$subtitle-color: #2e3a59;
$text-color-secondary: #828282;
$text-color-accent: #0aa6fe;
$text-color-light: #727272;
$text-color-placeholder: #2e3a596e;
$color-first-before: #FB8500;
$color-bnt-shadow: #00000014;
$color-icon-text: #aaaaaa;
$color-img-shadow: #00000059;