<div id="about_us" class="about-us-page">
    <div class="container">
        <section class="about_us_container">
            <h2 class="template_title template_title_light">Что говорят о нас</h2>
            <div class="about_us_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"> 
                        <div class="slide_container">
                            <div class="slide_content">
                                <p class="content_name">Егор Черняев</p>
                                <p class="content_feedback">Рекомендую данный софт! Аналогов не нашел нигде, я решил не <span>заморачиваться и сразу приобрел ПРО версию и</span> теперь играю в свое удовольствие.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide"> 
                        <div class="slide_container">
                            <div class="slide_content">
                                <p class="content_name">Егор Черняев</p>
                                <p class="content_feedback">Рекомендую данный софт! Аналогов не нашел нигде, я решил не <span>заморачиваться и сразу приобрел ПРО версию и</span> теперь играю в свое удовольствие.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide"> 
                        <div class="slide_container">
                            <div class="slide_content">
                                <p class="content_name">Егор Черняев</p>
                                <p class="content_feedback">Рекомендую данный софт! Аналогов не нашел нигде, я решил не <span>заморачиваться и сразу приобрел ПРО версию и</span> теперь играю в свое удовольствие.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow_container">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </section>
    </div>
</div>