<div class="contact-page">
    <div class="container">
        <section class="contact_section">
        <h2 class="template_title">Контакты</h2>
            <div class="contact_container">
                <div class="img_box">
                    <img src="assets/img/contact_img.png" alt="">
                </div>
                <div class="input_container">
                    <form>
                        <h6 class="input_title">Обратная связь</h6>
                        <div class="input_row">
                            <div class="input_box">
                                <img src="assets/img/contact_user_icon.svg" alt="" class="contact_icon">
                                <input id="name" type="text" placeholder="Ваше имя">
                            </div>
                            <div class="input_box">
                                <img src="assets/img/contact_mail_icon.svg" alt="" class="contact_icon">
                                <input id="email" type="text" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="input_row">
                            <div class="input_box">
                                <label for="comment"><img src="assets/img/contact_comment_icon.svg" alt="">Комментарий</label>
                                <textarea name="comment" id="comment"></textarea>
                            </div>
                        </div>
                        <div class="input_row">
                            <button type="button" class="btn">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>