<div class="contact-page">
    <div class="container">
        <section class="contact_section">
        <h2 class="template_title">Контакты</h2>
            <div class="contact_container">
                <div class="img_box">
                    <img src="assets/img/contact_img.png" alt="">
                </div>
                <div class="input_container">
                    <form>
                        <h6 class="input_title">Обратная связь</h6>
                        <div class="input_row">
                            <div class="input_box">
                                <label for="name"><img src="assets/img/contact_user_icon.svg" alt="user">Ваше имя</label>
                                <input id="name" type="text">
                            </div>
                            <div class="input_box">
                                <img src="assets/img/contact_mail_icon.svg" alt="" class="contact_icon">
                                <input id="email" type="text" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="input_comment_row">
                            <div class="input_box">
                                <label for="comment">Комментарий</label>
                                <input id="comment" type="text">
                            </div>
                        </div>
                        <button type="button" class="btn">Отправить</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>