<section class="first_screen_page">
    <div class="container">
        <div class="first_screen_container">
            <div class="first_screen_content">
                <h1 class="first_screen_title">ЧИТЫ НА P<span></span>UBG ЛУЧШИЕ НА РЫНКЕ БЕЗ БАНА!</h1>
                <p>Лучшие сборки на рынке, проверенные опытом и временем, а также, оптимальное соотношение цены, надежности и производительности</p>
                <p>Самая низкая цена за мегахеш</p>
                <div class="first_screen_btn_container">
                    <button type="button" class="btn btn-info">Купить <img src="assets/img/btn_big_arrow.svg" class="icon"></button>
                    <button type="button" class="btn btn-secondary">Посмотреть видео</button>
                </div>
                <img class="first_screen_img" src="assets/img/first_screen_img.png" alt="img">
            </div>
            <div class="first_screen_car_img">
                <img src="assets/img/first_screen_car_img.png" alt="car">
            </div>
        </div>
    </div>

</section>