<header>
    <div class="container">
        <div class="header_container">
            <a class="header_logo" href="index.html">
                <span>Logo</span>
            </a>
            <button id="burger" class="burger">
                <div class="burger_container"></div>
            </button>
            <nav class="nav_list">
                <a class="nav_link" href="#first_page">Главная</a>
                <a class="nav_link" href="#price">Тарифы</a>
                <a class="nav_link" href="#about_us">Отзывы</a>
                <a class="nav_link" href="#questions">Faq</a>
                <a class="nav_link" href="#contact">Контакты</a>
                <a class="nav_link" href="#use">Функционал</a>
            </nav>
            <select class="header_select" name="language" id="language">
                <option data-display="RU" value="RU">RU</option>
                <option id="ua" value="UA">UA</option>
                <option value="EN">EN</option>
            </select>
            <button class="header_btn" type="button">
                <img src="assets/img/header_icon_user.svg" alt="user">
            </button>
        </div>
    </div>
</header>

