<header>
    <div class="container">
        <div class="row">
            <div class="header_container">
                <a class="header_logo" href="index.html">
                    <span>Logo</span>
                </a>
                <nav class="nav_list">
                    <a href="#">ГЛАВНАЯ</a>
                    <a href="#">ТАРИФЫ</a>
                    <a href="#">ОТЗЫВЫ</a>
                    <a href="#">FAQ</a>
                    <a href="#">КОНТАКТЫ</a>
                    <a href="#">ФУНКЦИОНАЛ</a>
                </nav>
                <select name="language" id="language">
                    <option data-display="RU" value="RU">RU</option>
                    <option value="UA">UA</option>
                    <option value="EN">EN</option>
                </select>
                <button type="button">
                    <img src="assets/img/icon_user.svg" alt="user">
                </button>
            </div>
        </div>
    </div>
</header>

