<header>
    <div class="container">
        <div class="header_container">
            <a class="header_logo" href="index.html">
                <span>Logo</span>
            </a>
            <button id="burger" class="burger d-none">
                <div class="burger_container"></div>
            </button>
            <nav class="nav_list">
                <a href="#">ГЛАВНАЯ</a>
                <a href="#">ТАРИФЫ</a>
                <a href="#">ОТЗЫВЫ</a>
                <a href="#">FAQ</a>
                <a href="#">КОНТАКТЫ</a>
                <a href="#">ФУНКЦИОНАЛ</a>
            </nav>
            <select class="header_select" name="language" id="language">
                <option data-display="RU" value="RU">RU</option>
                <option value="UA">UA</option>
                <option value="EN">EN</option>
            </select>
            <button class="header_btn" type="button">
                <img src="assets/img/icon_user.svg" alt="user">
            </button>
        </div>
    </div>
</header>

