<div class="price_page">
    <div class="container">
        <section class="price_page_section">
            <h2 class="template_title template_title_double">Тарифы</h2>
            <div class="price_device_container">
                <div class="device_windows"><img src="assets/img/use_windows_icon.svg" alt=""> Windows</div>
                <div class="device_android"><img src="assets/img/use_android_icon.svg" alt=""> Android</div>
                <div class="device_ios"><img src="assets/img/use_ios_icon.svg" alt=""> iOS</div>
            </div>
            <div class="price_container">
                <div class="price_container_item">
                    <h5 class="price_container_title">Обычная</h5>
                    <p class="price_container_term">1 месяц</p>
                    <ul class="ul_second">
                        <li>Весь функционал чита</li>
                        <li>Обновления 1 раз в месяц</li>
                        <li>Техническая поддержка</li>
                        <li>Анти-Бан</li>
                    </ul>
                    <ul class="ul_third">
                        <li>Улучшенная оптимизация</li>
                        <li>Запуск на других телефонах</li>
                        <li>DPI+, ASN, SKK</li>
                    </ul>
                    <span class="price_container_value">649</span>
                    <button type="button" class="btn btn-lg">Приобрести<img src="assets/img/btn_arrow.svg" class="icon"></button>
                </div>

                <div class="price_container_item">
                    <h5 class="price_container_title">Стандартная</h5>
                    <p class="price_container_term">2 месяца</p>
                    <ul class="ul_second">
                        <li>Весь функционал чита</li>
                        <li>Постоянные обновления</li>
                        <li>Поддержка 24/7</li>
                        <li>Улучшенный Анти-Бан</li>
                        <li>Улучшенная оптимизация</li>
                        <li>Запуск на других телефонах</li>
                    </ul>
                    <ul class="ul_third">
                        <li>DPI+, ASN, SKK</li>
                    </ul>
                    <span class="price_container_value">1 499</span>
                    <button type="button" class="btn btn-lg">Приобрести<img src="assets/img/btn_arrow.svg" class="icon"></button>
                </div>

                <div class="price_container_item">
                    <h5 class="price_container_title">Pro версия</h5>
                    <p class="price_container_term">1 месяц</p>
                    <ul class="ul_second">
                        <li>Весь функционал чита + NEW</li>
                        <li>Все обновления + BETA тест</li>
                        <li>Поддержка 24/7</li>
                        <li>Самый мощный Анти-Бан</li>
                        <li>Максимальная оптимизация</li>
                        <li>Запуск на других телефонах</li>
                        <li>DPI+, ASN, SKK</li>
                    </ul>
                    <span class="price_container_value">2 899</span>
                    <button type="button" class="btn btn-lg">Приобрести<img src="assets/img/btn_arrow.svg" class="icon"></button>
                </div>

            </div>

        </section>
    </div>
</div>