<div class="price_page">
    <div class="container">
        <section class="price_page_section">
            <h2 class="template_title template_title_double">Тарифы</h2>
            <div class="price_device_container">
                <div class="device_windows"><img src="assets/img/use_windows_icon.svg" alt=""> Windows</div>
                <div class="device_android"><img src="assets/img/use_android_icon.svg" alt=""> Android</div>
                <div class="device_ios"><img src="assets/img/use_ios_icon.svg" alt=""> iOS</div>
            </div>
            <div class="price_container">
                <div class="price_container_item">
                    <h5 class="price_container_title blue_bg">Обычная</h5>
                    <div class="price_container_content">
                        <p class="price_container_term">1 месяц</p>
                        <ul>
                            <li class="ul_second">Весь функционал чита</li>
                            <li class="ul_second">Обновления 1 раз в месяц</li>
                            <li class="ul_second">Техническая поддержка</li>
                            <li class="ul_second">Анти-Бан</li>
                            <li class="ul_third">Улучшенная оптимизация</li>
                            <li class="ul_third">Запуск на других телефонах</li>
                            <li class="ul_third">DPI+, ASN, SKK</li>
                        </ul>
                        <span class="price_container_value">649</span>
                    </div>
                    <button type="button" class="btn btn-lg">Приобрести<img src="assets/img/btn_arrow.svg" class="icon"></button>
                </div>

                <div class="price_container_item">
                    <h5 class="price_container_title violet_bg">Стандартная</h5>
                    <div class="price_container_content">
                        <p class="price_container_term">3 месяца</p>
                        <ul>
                            <li class="ul_second">Весь функционал чита</li>
                            <li class="ul_second">Постоянные обновления</li>
                            <li class="ul_second">Поддержка 24/7</li>
                            <li class="ul_second">Улучшенный Анти-Бан</li>
                            <li class="ul_second">Улучшенная оптимизация</li>
                            <li class="ul_second">Запуск на других телефонах</li>
                            <li class="ul_third">DPI+, ASN, SKK</li>
                        </ul>
                        <span class="price_container_value">1 499</span>
                    </div>
                    <button type="button" class="btn btn-lg">Приобрести<img src="assets/img/btn_arrow.svg" class="icon"></button>
                </div>

                <div class="price_container_item">
                    <h5 class="price_container_title red_bg">Pro версия</h5>
                    <div class="price_container_content">
                        <p class="price_container_term">Навсегда</p>
                        <ul>
                            <li class="ul_second">Весь функционал чита + NEW</li>
                            <li class="ul_second">Все обновления + BETA тест</li>
                            <li class="ul_second">Поддержка 24/7</li>
                            <li class="ul_second">Самый мощный Анти-Бан</li>
                            <li class="ul_second">Максимальная оптимизация</li>
                            <li class="ul_second">Запуск на других телефонах</li>
                            <li class="ul_second">DPI+, ASN, SKK</li>
                        </ul>
                        <span class="price_container_value">2 899</span>
                    </div>
                    <button type="button" class="btn btn-lg">Приобрести<img src="assets/img/btn_arrow.svg" class="icon"></button>
                </div>

            </div>

        </section>
    </div>
</div>