<div id="questions" class="questions-page">
    <div class="container">
        <section class="question_page_section">
            <h2 class="template_title template_title_double template_title_colored">Частые вопросы</h2>




            <div class="accordion accordion-flush" id="accordionFlushExample">



                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-page-one" aria-expanded="false" aria-controls="question-page-one">
                            Какие у нас есть гарантии?
                        </button>
                    </h2>
                    <div id="question-page-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Мы официальные диллеры данного чита. Нам доверяет огромное
                            количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше.</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-page-two" aria-expanded="false" aria-controls="question-page-two">
                            Как устанавливаются читы?
                        </button>
                    </h2>
                    <div id="question-page-two" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
                            veniam mollitia? Fugiat sint ab adipisci magnam corrupti nihil atque, reiciendis pariatur
                            dolor. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, ad saepe
                            deserunt porro fuga rem iure quidem qui illum quo officia repellendus ipsam provident quos
                            id? Omnis tenetur, accusamus quasi similique consequuntur facilis totam architecto voluptas,
                            vitae ullam possimus tempore obcaecati.</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-page-three" aria-expanded="false"
                            aria-controls="question-page-three">
                            Что я получу после оплаты тарифа?
                        </button>
                    </h2>
                    <div id="question-page-three" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                            labore animi explicabo perferendis architecto! Consequatur exercitationem ut placeat facilis
                            voluptates molestiae quasi beatae officia, alias sit magnam sed dolor obcaecati dolorum,
                            fugit non nisi ipsum odio doloribus fuga! Nesciunt, cumque quae?</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-page-four" aria-expanded="false"
                            aria-controls="question-page-four">
                            Что такое DPI+, ASN, SKK?
                        </button>
                    </h2>
                    <div id="question-page-four" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam
                            repellendus dolor eaque nihil laboriosam molestiae ipsum culpa repellat omnis consequuntur
                            rerum aut veniam nobis debitis assumenda id magnam distinctio, necessitatibus rem ullam!
                            Temporibus neque deserunt iure quia ut consequuntur doloremque voluptas veniam adipisci
                            voluptatum a, laudantium delectus! Adipisci, exercitationem hic! Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Quibusdam repellat sint similique a voluptas nihil animi
                            laboriosam quidem autem eum. Enim, optio.</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-page-five" aria-expanded="false"
                            aria-controls="question-page-five">
                            Влияют ли читы на FPS в игре?
                        </button>
                    </h2>
                    <div id="question-page-five" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero,
                            numquam doloribus. Magni dolores suscipit ad, repudiandae ipsum est, nemo quis explicabo
                            deleniti numquam reiciendis culpa mollitia dolorem ullam? Ratione iusto adipisci voluptates
                            saepe? Nihil vitae voluptatem unde voluptas, totam, assumenda non animi quibusdam aliquam
                            reprehenderit cum! Ad deserunt quae quisquam aperiam quibusdam fugiat ipsam.</div>
                    </div>
                </div>



            </div>
            <div class="questions_link">
                <a href="#contact">У меня есть вопрос</a>
            </div>

        </section>
    </div>
</div>