<div class="container">
    <div class="use_container">

        <div class="use_title_container">
            <h2 class="template_title template_title_double use_title">Функционал</h2>
            <p>Уникальный чит на iOS подойдет для всех устройств начиная от айфона 4S+.</p>
        </div>

        <div class="use_mobile_container">
            <div class="slider_phone">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="img-fluid" src="assets/img/use_mobile.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img class="img-fluid" src="assets/img/use_mobile.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img class="img-fluid" src="assets/img/use_mobile.png" alt="">
                    </div>
                </div>
                <div class="arrow_container">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>

        <div class="use_description_container">
            <h6 class="use_des_title d-none">Описание:</h6>
            <ul class="ul_first">
                <li><span>WallHack</span> - обнаруживает противников сквозь стены.</li>
                <li><span>AntiRecoil</span> - отключает отдачу на любом оружие.</li>
                <li><span>Aimbot</span> - автоматически наводит прицел на противника.</li>
                <li><span>Drop</span> - показывает топовые вещи сквозь стены.</li>
            </ul>
            <div class="use_des_content">
                <p><img src="assets/img/use_description_icon.png" alt="icon">Рекомендуем, оставить стандартные параметры в чите</p>
            </div>
            <div class="use_des_btn">
                <button type="button" class="btn btn-primary">Купить<img src="assets/img/btn_arrow.svg" class="icon"></button>
                <button type="button" class="btn btn-warning">Посмотреть видео<img src="assets/img/icon_play.svg" class="icon"></button>
            </div>
        </div>

    </div>
</div>
