<div class="container">
    <div class="use_container">
    <div class="use_mobile_container">
        <img class="img-fluid" src="assets/img/use_mobile.png" alt="">
    </div>
    <div class="use_title_container">
        <h2 class="use_title">ФУНКЦИОНАЛ</h2>
        <p>Уникальный чит на iOS подойдет для всех устройств начиная от айфона 4S+.</p>
    </div>
    <div class="use_description_container">
        <h6 class="use_mob_title">ОПИСАНИЕ:</h6>
        <ul>
            <li><span>WallHack</span>- обнаруживает противников сквозь стены.</li>
            <li><span>AntiRecoil</span>- отключает отдачу на любом оружие.</li>
            <li><span>Aimbot</span>- автоматически наводит прицел на противника.</li>
            <li><span>Drop</span>- показывает топовые вещи сквозь стены.</li>
        </ul>
        <div>
            <p><i></i>Рекомендуем, оставить стандартные параметры в чите</p>
        </div>
    </div>
</div>
</div>
